# Port to run the server
PORT=3000

# MongoDB Connection String (Replace with your MongoDB Atlas URI for production)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/lab_equipment_db?retryWrites=true&w=majority

# Secret key used to encrypt session cookies
SESSION_SECRET=your_secret_session_key_here

# Environment (development or production)
NODE_ENV=development
